@green: #374330;
@toxic: #65b936;
@gray: #666666;
@light-gray: #838383;
@red: #b30021;
@white: #fff;
@border-reserv: #b10021;
@grad-pantone1: #790016;
@grad-hover1: #8c041d;
@grad-hover2: #ce062b;
@orange: #ffba00;
@black: #232323;
@blue: #4d606f;
@learn-bg: #f3f2f2;
@acf: #2d2d32;
@full-time: #ce0e16;
@descript: #707070;
@descript: #707070;
@form-but-grad1: #222222;
@form-but-grad2: #323232;
@border-title: #d92b2c;
@border-review: #507299;
@review-but-1: #374f6a;
@review-but-2: #3f5976;
@review-but-3: #5c81ac;
@star: #ffde00;
@causes-list: #384b5a;
@causes-desc: #e3e5e6;
@link-border: #498925;
@link-no_active: #7dc455;
@grad-line: #4e9426;
@grad-line-phone: #293721;
@footer-a: #ffa200;
@footer-phone: #ffa200;
@developer-bg: #1e1e21;
@copyright: #a29d9d;