* {
	margin: 0;
	padding: 0;
}

body {
	font-family: @open;
	font-size: 14px;
}

input,
input:focus {
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	box-shadow: none;
}

a:not('js-c_link') {
	transition: all 300ms linear;
}

a,
a:hover,
a:focus,
button,
button,
button:focus {
	outline: none;
	text-decoration: none;
}

.clear {
	clear: both;
}

header {
	padding-top: 15px;

	ul {

		&.list-category {
			margin-left: -15px;

			li {
				margin-bottom: 15px;
				width: 34px;
				height: 34px;
				font-size: 24px;
				font-weight: 600;
				text-align: center;
				color: @white;
				list-style-type: none;
				border-radius: 2px;
				background-color: @red;
			}
		}
	}

	.address-header {
		margin-left: -29px;
		padding-left: 35px;
		background-image: url(../img/point.svg);
		background-size: 24px 32px;
		background-position: left top;
		background-repeat: no-repeat;

		&.mich {
			margin-left: 24px;
		}

		p {
			margin-bottom: 0;

			&.title {
				margin-bottom: 7px;
				font-size: 17px;
				line-height: 20px;
				font-weight: bold;
				text-transform: uppercase;
				color: @green;

				a {
					color: @green;
					text-decoration: none;

					&:hover {
						color: @light-gray;
					}
				}
			}

			&.phone {
				margin-top: 6px;
				font-size: 24px;
				color: @green;

				span {
					color: @toxic;
					font-weight: bold;
				}
			}
		}

		span {

			&.address {
				font-size: 17px;
				font-weight: 600;
				color: @gray;
			}
		}
	}

	.reserv-block {
		text-align: right;
	}

	a {
		color: @white;

		&.reservation {
			padding-top: 24px;
			display: inline-block;
			width: 98px;
			box-sizing: border-box;
			border: 2px @border-reserv solid;
			text-align: center;
			background-image: linear-gradient(to top, @grad-pantone1, @border-reserv);
			box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, .35);
			
			&:hover {
				color: @white;
				background-image: linear-gradient(to top, @grad-hover1, @grad-hover2);
			}

			svg {
				width: 49px;
				height: 32px;
				fill: #fff;
			}

			span {
				padding-top: 18px;
				padding-bottom: 25px;
				display: block;
				font-size: 10px;
				line-height: 12px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}

	.menu {
		position: relative;
		padding-top: 15px;
		height: 52px;
		font-size: 0;
		background-image: url(../img/menu-back.png);

		&::before {
			position: absolute;
			left: -53px;
			top: 0;
			display: block;
			width: 53px;
			height: 74px;
			background-image: url(../img/angle.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}

		&::after {
			position: absolute;
			right: -53px;
			top: 0;
			display: block;
			width: 53px;
			height: 74px;
			background-image: url(../img/angle-right.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}

		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 18px;
			}

			a {
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;

				&:hover {
					color: @orange;
				}
			}
		}
	}
}

.content {

	.reservation {
		padding-top: 52px;
		width: 100%;
		height: 342px;
		background-image: url(../img/reservation.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&__title {

			&__wrap {
				display: inline-block;
				vertical-align: middle;
				width: 64px;
				height: 64px;
				box-sizing: border-box;
				padding-top: 9px;
				text-align: center;
				background-color: @red;
				border-radius: 50%;

				svg {
					width: 49px;
					height: 41px;
					fill: @white;
				}
			}

			span {
				vertical-align: middle;
				font-size: 39px;
				font-weight: bold;
				color: @white;
				text-transform: uppercase;
			}
		}

		p.price {
			padding-left: 5px;
			padding-right: 5px;
			margin-top: 16px;
			display: inline-block;
			font-size: 39px;
			color: @white;
			background-color: @black;
			text-transform: uppercase;

			span {
				font-size: 84px;
				line-height: 95px;
				font-weight: bold;
			}
		}

		form {
			margin-top: 15px;

			input {

				&[type=text] {
					padding-left: 15px;
					margin-right: 10px;
					max-width: 220px;
					width: 100%;
					height: 45px;
					font-size: 16px;
					color: @blue;
					border: 2px transparent solid;
					box-sizing: border-box;
					border-radius: 20px;
					background-color: @white;
					transition: border 300ms linear;

					&:hover,
					&:focus {
						border-color: @red;
					}
				}

				&[type=submit] {
					width: 290px;
					height: 45px;
					box-sizing: border-box;
					font-size: 20px;
					font-weight: bold;
					color: @white;
					text-transform: uppercase;
					border: 2px @border-reserv solid;
					background-image: linear-gradient(to top, @grad-pantone1, @border-reserv);
					border-radius: 20px;

					&:hover {
						background-image: linear-gradient(to top, @grad-hover1, @grad-hover2);
					}
				}
			}
		}
	}

	.guarantie {
		width: 100%;
		padding-top: 1px;
		padding-bottom: 25px;
		background-color: @toxic;

		span {
			vertical-align: top;
			font-size: 83px;
			line-height: 107px;
			font-weight: bold;
			color: @white;
		}

		p {
			margin-left: 2.5%;
			display: inline-block;
			vertical-align: top;
			font-size: 44px;
			line-height: 79px;
			font-weight: bold;
			text-transform: uppercase;
			color: @white;

			span {
				display: block;
				font-family: @cond;
				font-size: 72px;
				line-height: 34px;
				font-weight: 300;
			}
		}

	}

	.utp {
		position: relative;
		padding-top: 30px;
		padding-bottom: 25px;
		width: 100%;
		background-color: @black;

		svg {
			fill: @white;

			&.people {
				width: 33px;
				height: 42px;
			}

			&.car-utp {
				width: 63px;
				height: 42px;
			}

			&.heroes {
				width: 37px;
				height: 42px;
			}
		}

		p {
			margin-bottom: 0;
			text-transform: uppercase;

			&.title {
				font-size: 18px;
				line-height: 18px;
				font-weight: 600;
				color: @orange;
			}

			&.subtitle {
				font-size: 22px;
				font-weight: bold;
				color: @white;
			}
		}

		.girl {
			position: absolute;
			right: 0;
			bottom: 0;
			left: calc(~'50% - 585px');
			text-align: right;
			max-width: 1170px;
			width: 100%;

			 img {
				 position: absolute;
				 right: 0;
				 bottom: 0;
			 }
		}
	}

	.type-learn {
		padding-top: 44px;
		padding-bottom: 30px;
		background-color: @learn-bg;

		p {
			margin-bottom: 0;

			&.title {
				font-size: 36px;
				font-weight: 600;
				color: @acf;
				text-transform: uppercase;

				&.full-time {

					span {
						background-color: @full-time;
					}
				}

				&.online {

					span {
						background-color: @toxic;
					}
				}

				span {
					padding-left: 10px;
					padding-right: 10px;
					color: @white;
				}
			}
		}

		.description {
			margin-top: 15px;

			&__img {
				margin-top: 20px;

				img {
					width: 116px;
					height: auto;

					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}

			p {
				font-size: 15px;
				line-height: 22px;
				color: @descript;
			}

			ul {
				margin-left: 15px;
				font-size: 15px;
				line-height: 30px;
				color: @acf;
				text-transform: uppercase;

				li {
					position: relative;
					padding-left: 15px;
					list-style-type: none;

					&::before {
						position: absolute;
						left: 0;
						top: calc(~'50% - 3.5px');
						display: block;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background-color: @toxic;
						content: '';
					}
				}
			}

			a {
				position: relative;
				display: block;
				margin-top: 26px;
				padding-left: 19px;
				padding-top: 6px;
				width: 220px;
				height: 45px;
				box-sizing: border-box;
				box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, .35);
				font-size: 20px;
				font-weight: bold;
				color: @white;
				text-transform: uppercase;
				border: 2px @border-reserv solid;
				background-image: linear-gradient(to top, @grad-pantone1, @border-reserv);
				border-radius: 20px;

				&::after {
					position: absolute;
					right: -2px;
					top: -2px;
					display: block;
					width: 57px;
					height: calc(~'100% + 4px');
					border-radius: 0 20px 20px 0;
					background-image: linear-gradient(to top, @form-but-grad1, @form-but-grad2);
					content: '';
				}

				&:hover {
					background-image: linear-gradient(to top, @grad-hover1, @grad-hover2);
				}

				svg {
					position: absolute;
					z-index: 2;
					right: 18px;
					top: 11px;
					width: 12px;
					height: 20px;
					fill: #e9e4e1;
				}
			}
		}
	}

	.index-text {
		padding-top: 47px;

		img.licension {
			width: 100%;
			height: auto;
		}

		p.title-block {
			margin-top: -12px;
		}

		&__description {
			margin-top: 24px;

			p {
				margin-bottom: 20px;
				font-size: 15px;
				color: @descript;
			}
		}
	}

	p.title-block {
		position: relative;
		padding-bottom: 8px;
		font-size: 36px;
		font-weight: 600;
		color: @acf;

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 194px;
			height: 3px;
			background-color: @border-title;
			content: '';
		}
	}

	.reviews {

		.title-block {
			text-align: center;

			&::before {
				left: calc(~'50% - 97px');
			}
		}

		a.all-reviews {
			margin: 30px auto 60px;
			padding-top: 5px;
			display: block;
			width: 174px;
			height: 45px;
			box-sizing: border-box;
			font-size: 20px;
			font-weight: bold;
			color: @white;
			border: 2px @border-review solid;
			box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, .35);
			border-radius: 20px;
			background-image: linear-gradient(to top, @review-but-1, @border-review);
			text-align: center;
			text-transform: uppercase;

			&:hover {
				background-image: linear-gradient(to top, @review-but-2, @review-but-3);
			}
		}
	}

	.causes {
		padding-top: 33px;
		padding-bottom: 12px;
		width: 100%;
		background-image: url(../img/causes.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.title-causes {
			margin-bottom: 0;
			font-size: 36px;
			color: @white;
			font-weight: 600;
			text-align: center;

			span {
				padding: 3px 10px;
				display: inline-block;
				font-size: 36px;
				line-height: 36px;
				font-weight: 600;
				color: @white;
				background-color: @full-time;
				border-radius: 50%;
			}
		}

		.subtitle {
			margin-top: 20px;
			font-size: 18px;
			line-height: 13px;
			color: @white;
			text-align: center;

			span {
				padding-left: 5px;
				padding-right: 5px;
				text-transform: uppercase;
				background-color: @full-time;
			}
		}

		&__list {
			margin-top: 24px;
			padding: 12px 36px 17px 19px;
			background-color: fade(@causes-list, 64%);

			&__ico {
				padding-top: 2px;
				padding-right: 20px;
				display: inline-block;
				vertical-align: top;
				line-height: 50px;
				border-right: 1px @white solid;

				svg {
					width: 18px;
					height: 18px;
					fill: @star;
				}
			}

			&__title {
				margin-left: 19px;
				margin-bottom: 16px;
				display: inline-block;
				vertical-align: top;
				width: calc(~'100% - 67px');
				line-height: 45px;

				& > p {
					margin-bottom: 0;
					font-size: 25px;
					font-weight: bold;
					color: @star;
				}

			}

			&__introtext {
				margin-top: 13px;

				p {
					font-size: 15px;
					line-height: 22px;
					color: @causes-desc;
				}
			}
		}
	}

	.gallery {
		padding-top: 32px;
		padding-bottom: 49px;
		background-color: @toxic;

		.auto-carousel,
		.classes-carousel {
			margin-left: -100px;

			&.no--visible {
				visibility: hidden;
				height: 0;
				overflow: hidden;
			}
		}

		.title-block {
			margin-bottom: 29px;
			color: @white;
			text-transform: uppercase;
			text-align: center;

			&::before {
				left: calc(~'50% - 97px');
				background-color: @star;
			}
		}

		&__links {
			position: relative;
			padding-left: 116px;
			padding-right: 116px;
			margin: 0 auto;
			max-width: 555px;
			width: 100%;
			text-align: center;
			margin-bottom: 34px;

			.point {
				position: absolute;
				left: calc(~'50% + 4px');
				top: calc(~'50% - 1px');
				display: block;
				width: 2px;
				height: 2px;
				background-color: @white;
			}

			&::after {
				position: absolute;
				right: 0;
				top: 50%;
				display: block;
				width: 80px;
				height: 1px;
				clear: both;
				background-color: fade(@white, 50%);
				content: '';
			}

			&::before {
				position: absolute;
				left: 0;
				top: 50%;
				display: block;
				width: 80px;
				height: 1px;
				clear: both;
				background-color: fade(@white, 50%);
				content: '';
			}

			a {
				position: relative;
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 1px;
				display: block;
				font-size: 16px;
				float: left;
				font-weight: 600;
				color: @link-no_active;
				text-transform: uppercase;
				border-bottom: 2px @link-border solid;
				border-top: 2px @link-border solid;
				background-color: @link-border;

				@media all and (-webkit-min-device-pixel-ratio:0) {
					& {
						padding-bottom: 2px;
					}
				}

				&.classes {
					padding-left: 30px;
					padding-right: 30px;
					float: right;
				}

				&:hover {
					color: @white;
				}

				.auto {
					padding-right: 2px;
				}

				&.active {
					border-bottom-color: @white;
					border-top-color: @white;
					background-color: @toxic;
					color: @white;


					&::before,
					&::after {
						background-image: url(../img/link-angle.png);
					}
				}

				&::before {
					position: absolute;
					z-index: 2;
					left: -23px;
					top: -2px;
					display: block;
					width: 23px;
					height: 28px;
					background-image: url(../img/link-no_active.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					content: '';
				}

				&::after {
					position: absolute;
					z-index: 2;
					right: -23px;
					top: -2px;
					display: block;
					width: 23px;
					height: 28px;
					background-image: url(../img/link-no_active.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					content: '';
					transform: rotate(180deg);
				}
			}
		}

		.swiper-container {

			.swiper-slide {
				position: relative;

				a {
					display: block;
				}

				&:hover {

					a {
						&::before {
							background-color: fade(@toxic, 50%);
						}

						&::after {
							background-color: @white;
							background-image: url(../img/plus.svg);
						}
					}


				}

				a {
					&::before {
						position: absolute;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						height: 100%;
						background-color: transparent;
						content: '';
						transition: background 300ms linear;
					}

					&::after {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto;
						display: block;
						width: 56px;
						height: 56px;
						background-color: transparent;
						border-radius: 50%;
						content: '';
						transition: background 300ms linear;
						cursor: pointer;
						background-size: 30px 30px;
						background-position: center;
						background-repeat: no-repeat;
					}
				}

				img {
					width: 100%;
				}
			}
		}
	}

	.scheme {
		padding-top: 55px;
		padding-bottom: 56px;
		background-color: @learn-bg;

		p {
			&.title-block {
				text-align: center;

				&::before {
					left: calc(~'50% - 97px');
				}
			}

			&.text {
				margin-top: 11px;
				font-size: 14px;
				font-weight: 600;
				color: @acf;
				text-align: center;
			}
		}

		&__back {
			position: absolute;
			width: 91%;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			background-image: url(../img/bg-scheme.svg);
			background-position: 0 30%;
			background-repeat: repeat-x;
		}

		&__list {
			position: relative;
			margin-top: 50px;

			&::after {
				display: block;
				width: 100%;
				clear: both;
				content: '';
			}
		}

		.item {
			float: left;
			width: 20%;
		}

		&__ico {
			position: relative;
			margin: 0 auto;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background-color: @toxic;

			.number {
				text-align: center;
				width: 35px;
				height: 35px;
				font-size: 20px;
				font-weight: bold;
				border-radius: 50%;
				color: @white;
				box-sizing: border-box;
				background-color: @border-title;
				border: 2px @white solid;
			}

			svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				fill: @white;

				&.girl {
					width: 71px;
					height: 73px;
				}

				&.order {
					width: 59px;
					height: 62px;
				}

				&.car {
					width: 68px;
					height: 45px;
				}

				&.exam {
					width: 47px;
					height: 60px;
				}

				&.rights {
					width: 64px;
					height: 44px;
				}

			}
		}
	}

	.block-text {
		padding-top: 59px;
		padding-bottom: 57px;

		p.title-block {
			text-align: center;

			&::before {
				left: calc(~'50% - 97px');
			}
		}

		&__introtext {
			padding-top: 30px;
			font-size: 15px;
			line-height: 22px;
			color: @descript;
		}
	}

	.gradient-line {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 34px;
		background-image: linear-gradient(to right, @toxic 50%, @grad-line 50%);

		&__left-address,
		&__right-address {
			position: relative;
			padding-left: 30px;

			svg {
				position: absolute;
				left: 0;
				top: 0;
				margin-top: 5px;
				width: 20px;
				height: 27px;
				fill: @white;
			}

			p {
				margin-bottom: 0;

				&.address {
					font-size: 14px;
					color: @white;
				}

				&.phone {
					margin-top: -5px;
					font-size: 18px;
					font-weight: 600;
					color: @grad-line-phone;
				}
			}

			a {
				font-size: 12px;
				text-transform: uppercase;
				color: @white;

				&:hover {
					color: @star;
				}
			}
		}

		&__right-address {
			padding-left: 45px;

			svg {
				left: 17px;
			}
		}

		&__left-address {
			padding-right: 19px;
			text-align: right;

			svg {
				left: 42px;
			}

			p.phone {
				padding-right: 9%;
			}

			a {
				padding-right: 33%;
			}
		}
	}

	#map {
		width: 100%;
		height: 460px;
	}

	.breadcrumbs {
		margin-top: 43px;

		ul {

			li {
				display: inline-block;
				font-size: 12px;

				svg {
					width: 15px;
					height: 14px;
					fill: @home-crumb;
				}

				a {
					color: @home-crumb;
					font-size: 12px;
				}

				span {
					color: @red;
				}
			}
		}
	}

	h1 {
		position: relative;
		margin-top: 6px;
		margin-bottom: 5px;
		padding-bottom: 15px;
		font-size: 36px;
		font-weight: 600;
		color: @acf;

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 195px;
			height: 3px;
			background-color: @border-title;
			content: '';
		}
	}

	h2 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 25px;
		color: @h2-color;
	}

	h3 {
		font-size: 25px;
		font-weight: 600;
		color: @h2-color;
	}

	.about-content {

		.causes {
			margin-top: 34px;
		}


		&__text {
			margin-top: 16px;

			.causes {
				margin-top: 15px;
			}


			p {
				font-size: 15px;
				line-height: 22px;
				color: @page-p;
			}

			ul {

				li {
					position: relative;
					padding-left: 10px;
					color: @page-p;
					list-style-type: none;

					&::before {
						position: absolute;
						left: 0;
						display: block;
						width: 4px;
						height: 1px;
						font-size: 15px;
						line-height: 22px;
						color: @page-p;
						content: '-';
					}
				}
			}
		}

	}

	.park-page {
		margin-right: -7px;
		margin-top: 20px;

		&__item {
			float: left;
			padding-bottom: 7px;
			width: 25%;
			padding-right: 7px;

			@media (min-width: 992px) and (max-width: 1199px) {

				& {
					width: 33.3333%;
				}
			}

			@media (min-width: 750px) and (max-width: 991px) {

				& {
					width: 50%;
				}
			}

			@media (max-width: 749px) {
				& {
					width: 100%;
				}
			}

		}

		&::after {
			display: block;
			width: 100%;
			clear: both;
			content: '';
		}

		&__img {
			position: relative;
			margin-bottom: 7px;

			a {
				display: block;
			}

			&:hover {

				a {
					&::before {
						background-color: fade(@toxic, 50%);
					}

					&::after {
						background-color: @white;
						background-image: url(../img/plus.svg);
					}
				}


			}

			a {
				&::before {
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-color: transparent;
					content: '';
					transition: background 300ms linear;
				}

				&::after {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: block;
					width: 56px;
					height: 56px;
					background-color: transparent;
					border-radius: 50%;
					content: '';
					transition: background 300ms linear;
					cursor: pointer;
					background-size: 30px 30px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.classes-page {
		margin-top: 27px;
		padding-top: 12px;
		padding-bottom: 49px;
		background-color: @classes-bg;

		p {

			&.title-classes {
				margin-top: 17px;
				margin-bottom: 0;
				font-size: 20px;
				color: @h2-color;
			}
		}

		&__list {
			margin-right: -7px;
			margin-top: 18px;
		}

		&__item {
			float: left;
			padding-bottom: 7px;
			width: 25%;
			padding-right: 7px;

			@media (min-width: 992px) and (max-width: 1199px) {

				& {
					width: 33.3333%;
				}
			}

			@media (min-width: 750px) and (max-width: 991px) {

				& {
					width: 50%;
				}
			}

			@media (max-width: 749px) {
				& {
					width: 100%;
				}
			}
		}

		&::after {
			display: block;
			width: 100%;
			clear: both;
			content: '';
		}

		&__img {
			position: relative;
			margin-bottom: 7px;

			a {
				display: block;
			}

			&:hover {

				a {
					&::before {
						background-color: fade(@toxic, 50%);
					}

					&::after {
						background-color: @white;
						background-image: url(../img/plus.svg);
					}
				}


			}

			a {
				&::before {
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 100%;
					height: 100%;
					background-color: transparent;
					content: '';
					transition: background 300ms linear;
				}

				&::after {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					display: block;
					width: 56px;
					height: 56px;
					background-color: transparent;
					border-radius: 50%;
					content: '';
					transition: background 300ms linear;
					cursor: pointer;
					background-size: 30px 30px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.actions-content {

		&__list {
			margin-top: 37px;
		}

		&__item {
			margin-bottom: 77px;

			img {
				width: 100%;
				height: auto;
			}

			.data();
		}

	}

	.contacts {

		&__text {
			margin-top: 35px;
			margin-bottom: 37px;

			p {
				margin-bottom: 0;

				&.title-city {
					margin-bottom: 11px;
					padding-left: 36px;
					font-size: 17px;
					line-height: 36px;
					font-weight: bold;
					text-transform: uppercase;
					background-image: url(../img/point.svg);
					background-size: 24px 32px;
					background-position: left center;
					background-repeat: no-repeat;
				}

				&.address {
					padding-left: 24px;
					font-size: 16px;
					line-height: normal;
					font-weight: 600;
					background-image: url(../img/home-green.svg);
					background-size: 15px 14px;
					background-repeat: no-repeat;
					background-position: left center;
				}

				&.phone {
					margin-top: 4px;
					margin-bottom: 20px;
					padding-left: 24px;
					font-size: 16px;
					line-height: normal;
					font-weight: 600;
					color: @phone-contact;
					background-image: url(../img/phone-green.svg);
					background-size: 15px 14px;
					background-repeat: no-repeat;
					background-position: left center;
				}
			}

			.address-city {
				padding-left: 36px;
			}
		}
	}

	.one-action {

		&__tpl {
			margin-top: 38px;
			margin-bottom: 60px;

			img {
				width: 100%;
				height: auto;
			}

			p {
				margin-bottom: 0;

				&.title {
					margin-top: -6px;
					font-size: 25px;
					line-height: 31px;
					color: @h2-color;

					@media (max-width: 767px) {
						margin-top: 10px;
					}
				}

				&.date {
					margin-top: 11px;
					padding-left: 30px;
					font-size: 13px;
					font-weight: 600;
					color: @color-date;
					background-image: url(../img/calendar.svg);
					background-size: 15px 15px;
					background-position: left center;
					background-repeat: no-repeat;
				}

				&.introtext {
					margin-top: 18px;
					font-size: 15px;
					line-height: 22px;
					color: @introtext;
				}
			}
		}

		.other-action  {
			padding-top: 37px;
			background-color: @classes-bg;

			p {

				&.title-other {
					position: relative;
					padding-bottom: 11px;
					font-size: 28px;
					font-weight: 600;
					color: @acf;

					&::before {
						position: absolute;
						left: 0;
						bottom: 0;
						display: block;
						width: 66px;
						height: 3px;
						background-color: @border-title;
						content: '';
					}
				}
			}

			&__list {
				margin-top: 26px;

				.data();
			}
		}

	}

	.training-content {

		p {
			&.block-title {
				font-size: 25px;
				font-weight: 600;
				color: @h2-color;
			}

		}
	}

	.price-content {

		p {

			&.attention {
				margin-top: 20px;
				font-size: 18px;
				line-height: 22px;
				font-weight: 600;
				color: @h2-color;
			}

			&.city {
				margin-top: 9px;
				margin-bottom: 0;
				font-size: 18px;
				font-weight: 600;
				color: @h2-color;
				text-transform: uppercase;
			}
		}

		table {

			&.price-table {
				width: 100%;

				thead {

					td {
						padding: 5px;
						font-size: 14px;
						line-height: 22px;
						color: @white;

						&:nth-of-type(even) {
							background-color: @table-td_even;
						}

						&:nth-of-type(odd) {
							background-color: @table-td_odd;
						}

						&:last-child {
							background-color: @acf;
						}
					}
				}

				tbody {

					tr {

						&:nth-of-type(3),
						&:nth-of-type(4),
						&:nth-of-type(5) {

							td {
								background-color: @table-nth;
							}
						}

						&:last-child {

							td {
								border-bottom: none;
							}
						}
					}

					td {
						padding: 5px;
						font-size: 15px;
						line-height: 22px;
						color: @page-p;
						background-color: @table-td_body;
						border-bottom: 1px @table-td solid;

						&:last-child {
							color: @dark;
						}
					}
				}
			}
		}
	}
}

footer {
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: @acf;

	ul {

		&.one-menu {
			list-style-type: none;
		}

		&.two-menu {
			font-size: 0;

			li {
				display: inline-block;
				width: 50%;
			}
		}

		li {

			a {
				font-size: 15px;
				line-height: 26px;
				color: @white;

				&:hover {
					color: @footer-a;
				}
			}
		}

	}

	svg {


		&.phone {
			display: inline-block;
			vertical-align: middle;
			width: 27px;
			height: 33px;
			fill: @footer-a;
		}

		&.vk {
			width: 30px;
			height: 30px;
			fill: @white;
			vertical-align: middle;
			display: inline-block;
			margin-left: 15px;
			transition: fill 300ms linear;

			&:hover {
				fill: @border-review;
			}
		}
	}

	.phone {

		span {
			vertical-align: middle;
			color: @footer-phone;
			font-size: 24px;
			font-weight: 600;
		}
	}

	.soc {

		span {
			vertical-align: middle;
			font-size: 15px;
			text-transform: uppercase;
			color: @white;
		}
	}
}

.developer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: @developer-bg;

	p {
		margin-bottom: 0;

		&.copyright {
			font-size: 14px;
			line-height: 36px;
			color: @copyright;
		}
	}

	span {
		margin-right: 4%;
		margin-left: 12%;
		vertical-align: middle;
		font-size: 11px;
		line-height: 36px;
		color: @copyright;
	}

	img {
		display: inline-block;
		vertical-align: middle;
	}
}