include includes/head
include includes/header
include includes/reservation
include includes/guarantie
include includes/utp
include includes/type-learn
include includes/index-text
include includes/reviews
include includes/causes
include includes/gallery
include includes/scheme
include includes/block-text
include includes/gradient-line
include includes/map
include includes/footer
include includes/scripts
include includes/mixins
doctype html

html(lang="en")
    head
        +head('Главная')
    body
        include blocks/svg.html

        // Шапка сайта
        +header('index')
        //

        .content

            +reservation()

            +guarantie()

            +utp()

            +type-learn()

            +index-text()

            +reviews()

            +causes()

            +gallery()

            +scheme()

            +block-text()

            +gradient-line()

            +map()

        footer
            +footer()
        +scripts()