include includes/head
include includes/header
include includes/breadcrumbs
include includes/price-content
include includes/footer
include includes/scripts
include includes/popup
include includes/mixins
doctype html
html(lang="en")
    head
        +head('Акции')
    body
        include blocks/svg.html
        // Шапка сайта
        +header()
        //
        .content
            +breadcrumbs('Цены')

            +price-content()

        footer
            +footer()
            +popup()
            +scripts()