include causes
include park-page
include classes-page

mixin about-content()
   .about-content
      .container
         .row
            .col-md-12
               h1 Автошкола ГАРАНТ68
         .row
            .about-content__text
               .col-md-12
                  h2 Автошкола Гарант в Тамбове - сделай правильный выбор!
                  p  Наша автошкола в Тамбове и Мичуринске предлагает всем желающим научиться красиво и правильно ездить, профессиональное обучение вождению транспортных средств (легковой автомобиль, мотоцикл) по категориям "A", "A1" и "B". С нами вы освоите великолепную теоретическую базу, которая позволит вам уверенно себя чувствовать в любых ситуациях, а также получите практические навыки вождения с отработкой всех типичных ошибок начинающего водителя.
                  p  Практические занятия нашей автошколы рассчитаны на обучающихся с любой степенью подготовки - от новичков до любителей, уже имеющих определенные навыки вождения. Полное прохождение курса обучения не только благоприятно сказывается на результатах сдачи экзаменов в ГИБДД, но и помогает в дальнейшем обрести уверенность на дорогах, а также управлять своим транспортным средством умело и безопасно.
                  h2 Что же предлагает наша автошкола Гарант в Тамбове?
                  ul
                     li Квалифицированное обучение опытными профессионалами;
                     li Качественное обучение на категории "А", "А1" и "В";
                     li Оперативное восстановление утраченных/частично утраченных навыков вождения.
      +causes()

      .container
         .row
            .about-content__text
               .col-md-12
                  h3 Наша миссия
                  p  Сделать каждого абитуриента умелым и грамотным водителем, владеющим всеми навыками правильного вождения.
                  h3 Наши гарантии
                  p  Качество. Персональный подход к каждому. Внимательное и заботливое отношение к слушателям. Остались вопросы? Наша автошкола, официальный сайт которой размещен чуть ниже, с радостью ответит на любой из них. Ждем вас у себя!
                  h3 Наш автопарк
                  p  Только самые новые и современные автомабили специально оборудованные для обучения

         +park-page()

      +classes-page()