mixin actions-content()
   .actions-content
      .container
         .row
            .col-md-12
               h1 Акции
         .row
            .actions-content__list
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
               .col-md-4.col-sm-6.actions-content__item
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
                  .item-data
                     p.title  Скидка -30% на очное  обучение
                     p.date   24 Августа, 2016 г.
                     p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                  a(href="javascript:void(0)").more   Подробнее
