mixin block-text()
    .block-text
        .container
            .row
                .col-md-12
                    p.title-block SEO. Автошкола ГАРАНТ68
            .row
                .col-md-12
                    .block-text__introtext
                        p Профессиональное обучение вождению транспортных средств  по категориям "A", "A1" и "B". Мы научим Вас грамотно и уверенно управлять любым автомобилем или мотоциклом!
                        p С нами вы освоите великолепную теоретическую базу, которая позволит вам уверенно себя чувствовать в любых ситуациях, а также получите практические навыки вождения с отработкой всех типичных ошибок начинающего водителя.
