mixin causes()
   .causes
      .container
         .row
            .col-md-12
               p.title-causes
                  span  6
                  |  Причин
               p.subtitle
                  span  Почему мы достойны вашего выбора

         .causes__list
            .row
               .col-md-6
                  .row
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Мы лучшие !
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Новый автопарк
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Приемлемые цены
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
               .col-md-6
                  .row
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Опытные инструктора
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Экзамен без очереди
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     .col-md-12
                        .causes__list__ico
                           +svg('star')
                        .causes__list__title
                           p  Экзамен без очереди
                           .causes__list__introtext
                              p Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить

