mixin classes-page()
   .classes-page
      .container
         .row
            .col-md-12
               .page-content__text
                  h3   Наши классы
                  p  Только самые новые и современные кабинеты специально оборудованные для обучения. Ждем вас у себя!
         .row
            .col-md-12
               p.title-classes   Тамбов
               .classes-page__list
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal1").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal1").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal1").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal1").fancybox
                           img(src="../img/auto.jpg")
            .col-md-12
               p.title-classes   Мичуринск
               .classes-page__list
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal2").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal2").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal2").fancybox
                           img(src="../img/auto.jpg")
                  .classes-page__item
                     .classes-page__img
                        a(href="../img/auto.jpg" rel="gal2").fancybox
                           img(src="../img/auto.jpg")