mixin developer()
    .developer
        .container
            .row
                .col-md-3
                    p.copyright   Все права защищены © 2016 г.
                .col-md-4.col-md-offset-5
                    span Разработка и продвижение сайтов
                    a(href="http://vedita.ru" target="blank_")
                        img(src="../img/vedita-logo.png")