mixin distance-learning()
   .distance-learning
      .container
         .row
            .col-md-12
               h1 Дистанционное обучение в автошколе для жителей Москвы и Московской области
               p.clock  Мы работаем для Вас с 9.00 до 18.00 без обеда. Выходные суббота, воскресение.

      .distance-learning__means
         .container
            .row
               .col-md-12
                  p.title-means Записаться на обучение
                     span  можно несколькими способами
               .col-md-12
                  .distance-learning__wrap-tale
                     .distance-learning__tale.js-tale
                        p.title  Придя в центральный офис
                           br
                           |  автошколы
                        p.distance-learning__name  Офис
                        .distance-learning__ico.foot
                        .distance-learning__info
                           p Тамбов, ул. Сенько 24а
                           p Мичуринск,ул. Полтавская 55
                     .distance-learning__tale.center.js-tale
                        .distance-learning__position-block
                           p.title  Оставив заявку
                              br
                              |  на нашем официальном сайте
                           p.distance-learning__name  On-Line
                           .distance-learning__ico.online
                           .distance-learning__info
                              a(href="javascript:void(0)")  Записаться
                     .distance-learning__tale.right.js-tale
                        p.title  Запишитесь на обучение
                           br
                           |  по телефону
                        p.distance-learning__name  Телефон
                        .distance-learning__ico.call-me
                        .distance-learning__info
                           p
                              span
                                 span  Тамбов:
                              span.phones  +7 (4752) 44-99-00, 8 (910) 510-88-89
                           p
                              span
                                 span  Мичуринск
                              span.phones  +7(900) 490-30-40

      .distance-learning__description
         .container
            .row
               .col-md-12
                  .distance-learning__description-text
                     p После того, как Вы будете зачислены в учебную группу, на Ваш E-mail придет уникальный логин и пароль, для доступа в личный кабинет, где Вы сможете самостоятельно изучать теорию, прослушивать лекции, сдавать зачеты и экзамены как в ГИБДД.
                     p
                        span  После первого месяца изучения ПДД, начинаются практические занятия на учебных автомобилях.
                  .distance-learning__description-dop
                     +svg('police')
                     p За каждым учеником закрепляется персональный инструктор и учебный автомобиль. Практические занятия проводятся по индивидуальному графику максимально удобному для Вас!

      .distance-learning__advantage
         .container
            .row
               .col-md-12
                  p.title-advantage  Каждый ученик подавший заявку на обучение в онлайн автошколе "ГАРАНТ"
            .row
               .col-md-3.col-sm-6
                  .distance-learning__item.js-item-dist
                     .distance-learning__item-ico.a-place
                     p.name   Выбирает место обучения
                     p.description  Получает теорию правил дорожного движения дома или в другом месте, где есть выход в интернет, будто личный преподаватель находится всегда рядом
               .col-md-3.col-sm-6
                  .distance-learning__item.two.js-item-dist
                     .distance-learning__item-ico.your-time
                     p.name   Планирует свое время самостоятельно
                     p.description  Самостоятельно выбирает время своего обучения, находясь в удобном месте для него.
               .col-md-3.col-sm-6
                  .distance-learning__item.js-item-dist
                     .distance-learning__item-ico.cabinet
                     p.name   Будет иметь личный кабинет обучения
                     p.description  Получает доступ в личный кабинет, где он сможет самостоятельно изучать теорию, прослушивать лекции, сдавать зачеты и экзамены как в ГИБДД.
               .col-md-3.col-sm-6
                  .distance-learning__item.last.js-item-dist
                     .distance-learning__item-ico.format
                     p.name   Удобный формат обучения
                     p.description  Получает организованные уроки по теории, которые доступны как в видео формате, так и в текстовом виде.



