mixin gallery()
   .gallery
      .container
         .row
            .col-md-12
               p.title-block  Фотогалерея
            .col-md-12
               .gallery__links
                  .point
                  a(href="javascript:void(0)" data-slider="auto-carousel").js-c_link.auto.active
                     |  Автомобили
                  a(href="javascript:void(0)" data-slider="classes-carousel").js-c_link.classes  Классы
                  br.clear
      .auto-carousel.js-carousel
         .swiper-container.js-auto
            .swiper-wrapper
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide.auto-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
      .classes-carousel.no--visible.js-carousel
         .swiper-container.js-classes
            .swiper-wrapper
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
               .swiper-slide.classes-slide
                  a(href="../img/class.jpg" rel="gal1").fancybox
                     img(src="../img/class.jpg")
