mixin gallery()
   .gallery
      .container
         .row
            .col-md-12
               p.title-block  Фотогалерея
            .col-md-12
               .gallery__links
                  a(href="javascript:void(0)").auto.active  Автомобили
                  a(href="javascript:void(0)").classes  Классы
                  br.clear
      .auto-carousel
         .swiper-container.js-auto
            .swiper-wrapper
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")
               .swiper-slide
                  a(href="../img/car.png" rel="gal1").fancybox
                     img(src="../img/car.png")