mixin head(title)
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title   #{title}
    link(rel="stylesheet",href="../css/normalize.css")
    link(rel="stylesheet",href="../css/libs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet",href="../css/libs/swiper/swiper.min.css")
    link(rel="stylesheet",href="../css/libs/fancybox/jquery.fancybox.css")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic")
    link(rel="stylesheet",href="../css/style.css")
    script(src="../js/modernizr.custom.js")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")