mixin index-text()
   .index-text.js-text
      .container
         .row
            .col-md-2
               a(href="../img/lic.jpg").fancybox
                  img(src="../img/lic.jpg").licension
            .col-md-10
               p.title-block  Автошкола ГАРАНТ68
               .index-text__description
                  p Профессиональное обучение вождению транспортных средств  по категориям "A", "A1" и "B". Мы научим Вас грамотно и уверенно управлять любым автомобилем или мотоциклом!
                  p С нами вы освоите великолепную теоретическую базу, которая позволит вам уверенно себя чувствовать в любых ситуациях, а также получите практические навыки вождения с отработкой всех типичных ошибок начинающего водителя.
                     |  Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить, профессиональное обучение вождению транспортных средств  по категориям "A", "A1" и "B".