mixin one-action()
   .one-action
      .container
         .row
            .col-md-12
               h1 Акция
         .one-action__tpl
            .row
               .col-md-4.col-sm-4
                  a(href="javascript:void(0)")
                     img(src="../img/action.jpg")
               .col-md-8.col-sm-8
                  p.title  Скидка -30% на очное обучение
                  p.date   24 Августа, 2016 г.
                  p.introtext С каждым из наших клиентов мы заключаем индивидуальный договор, в котором подробно прописываем все обязательства и ответственности сторон.
                     |  Основная наша задача – это не просто подготовить Вас к сдаче экзамена в ГИБДД, а научить Вас думать за рулем, анализировать дорожную ситуацию, самостоятельно принимать правильные решения, не бояться дороги и быть уверенным в себе и своих знаниях!
      .other-action
         .container
            .row
               .col-md-12
                  p.title-other  Другие акции
            .other-action__list
               .row
                  .col-md-4.col-sm-6.actions-content__item
                     a(href="javascript:void(0)")
                        img(src="../img/action.jpg")
                     .item-data
                        p.title  Скидка -30% на очное  обучение
                        p.date   24 Августа, 2016 г.
                        p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     a(href="javascript:void(0)").more   Подробнее
                  .col-md-4.col-sm-6.actions-content__item
                     a(href="javascript:void(0)")
                        img(src="../img/action.jpg")
                     .item-data
                        p.title  Скидка -30% на очное  обучение
                        p.date   24 Августа, 2016 г.
                        p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     a(href="javascript:void(0)").more   Подробнее
                  .col-md-4.col-sm-6.actions-content__item
                     a(href="javascript:void(0)")
                        img(src="../img/action.jpg")
                     .item-data
                        p.title  Скидка -30% на очное  обучение
                        p.date   24 Августа, 2016 г.
                        p.introtext Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить
                     a(href="javascript:void(0)").more   Подробнее

