mixin park-page()
   .park-page
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
      .park-page__item
         .park-page__img
            a(href="../img/auto.jpg" rel="gal1").fancybox
               img(src="../img/auto.jpg")
