mixin price-content()
   .price-content
      .container
         .row
            .col-md-12
               h1 Стоимость обучения
               p.attention  Внимание!
                  br
                  | Это абсолютно полная цена обучения в автошколе, не предусматривается никаких дополнительных платежей, связанных с обучением.
         .row
            .col-md-12
               p.city   г. Тамбов
               table.price-table
                  thead
                     tr
                        td Адрес
                        td Категория
                        td Стоимость (теория)
                        td Стоимость (вождение)
                        td Полная стоимость
                  tbody
                     tr
                        td ул. Сенько 24а
                        td «В»
                        td 13900 руб.
                        td 144 руб./час
                        td 22 000 руб. с (ГСМ)
                     tr
                        td ул. Сенько 24а
                        td «А»
                        td -
                        td -
                        td 8 000 руб. с (ГСМ)
                     tr
                        td ул. Сенько 24а
                        td «А1»
                        td -
                        td -
                        td 22 000 руб. с (ГСМ)
                     tr
                        td ул. Астраханская 189a
                        td «B»
                        td 13900 руб
                        td 144 руб/час
                        td 22 000 руб. с (ГСМ)
                     tr
                        td ул. Астраханская 189a
                        td «A1»
                        td -
                        td -
                        td 8 000 руб. с (ГСМ)
                     tr
                        td ул. Рылеева 61 б
                        td «В»
                        td 13900 руб.
                        td 144 руб./час
                        td 22 000 руб. с (ГСМ)