mixin scheme()
   .scheme
      .container
         .row
            .col-md-12
               p.title-block Схема обучения
         .scheme__list
            .item
               .scheme__ico
                  .number  1
                  +svg('girl')
               p.text   Оставляете заявку
            .item
               .scheme__ico
                  .number  2
                  +svg('order')
               p.text   Записываетесь в группу
            .item
               .scheme__ico
                  .number  3
                  +svg('car')
               p.text   Проходите теоретические, практические занятия
            .item
               .scheme__ico
                  .number  4
                  +svg('exam')
               p.text   Сдаете внутренний экзамен в автошколе
            .item
               .scheme__ico
                  .number  5
                  +svg('rights')
               p.text   Сдаете экзамен в ГАИ. Получаете водительское удостоверение
