mixin training-content()
   .training-content
      .container
         .row
            .col-md-12
               h1 Обучение в автошколе ГАРАНТ68
         .row
            .col-md-12
               p.block-title  Начало занятий на категории «А1»,«А» и «В»