mixin type-learn()
   .type-learn
      .container
         .row
            .col-md-6
               p.title.full-time Очное
                  span  обучение
               p.description  
            .col-md-6
