mixin type-learn()
   .type-learn
      .container
         .row
            .col-md-6
               p.title.full-time
                  span Очное
                  |  обучение
               .description
                 p   Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить, профессиональное обучение вождению транспортных средств  по категориям "A", "A1" и "B".
                 .description__img
                    img(src="../img/u.jpg")
                    img(src="../img/u.jpg")
                    img(src="../img/u.jpg")
                    img(src="../img/u.jpg")
                 a(href="javascript:void(0)")   Записаться
                  +svg('arrow')
            .col-md-6
               p.title.online
                  span  On-line
                  |  обучение
               .description
                  p  Наша автошкола в Тамбове предлагает всем желающим научиться красиво и правильно ездить, профессиональное обучение вождению транспортных средств  по категориям "A", "A1" и "B".
                  ul
                     li Экономия времени
                     li Обучение везде
                     li Нет пропусков
                     li Обучение в удобное для Вас время
                  a(href="javascript:void(0)")   Записаться
                     +svg('arrow')
