mixin utp()
   .utp
      .container
         .col-md-3
            +svg('people')
            p.title  Нас выбрало
            p.subtitle  3000 человек
         .col-md-3
            +svg('car-utp')
            p.title  Современный
            p.subtitle  Автопарк
         .col-md-3
            +svg('heroes')
            p.title  Опытные
            p.subtitle  Инструкторы
      .girl
         img(src="../img/girl.png")